.style-offers {
    .title {
        @include font-title-1;
        margin: 0;
        font-weight: $font-weight-bold;
    }
    .default-text {
        @include default-font;
    }
    .container {
        max-width: 95vw;
        
        grid-auto-rows: 1fr;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "box-1"
                             "box-3"
                             "box-2";
        gap: 30px;
        @include lg {
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-areas: "box-1 box-2 box-3";
        }
        .box-1 {
            text-decoration: none;
            color: $color-dark-2;
            background-color: $color-peach;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            .content {
                img {
                    display: none;
                }
                .title{
                    
                }
                .default-text {
                    
                    text-decoration: underline;
                }
            }
        }
        .box-2 {
            background-color: $color-light-2;
            // outline: 10px solid $color-theme;
            // outline-offset: -25px;
            .content {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                .title{
                    margin-top: 60px;
                }
                .default-text{  
                    margin: 60px;
                }
                #button{
                    margin-bottom: 60px;
                }
            }
        }
        .box-3 {
            text-decoration: none;
            color: $color-dark-2;
            background-color: $color-mayan-maize;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            .content {
                img {
                    display: none;
                }
                .title{
                    text-align: center;
                }
                .default-text {
                    text-align: center;
                    text-decoration: underline;
                }
            }
        }
    }
}