.style-offers {
    margin-top: 48px;
    margin-bottom: 48px;
    @include lg {
        margin-top: 128px;
        margin-bottom: 128px;
    }
    .title {
        @include font-title-1;
        margin: 0;
        font-weight: $font-weight-bold;
    }
    .default-text {
        @include default-font;
    }
    .container {
        max-width: 95vw;
        
        grid-auto-rows: 1fr;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "box-1"
                             "box-3"
                             "box-2";
        gap: 30px;
        @include lg {
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-areas: "box-1 box-2 box-3";
        }
        #box-2 {
            order: 3;
            @include lg {
                order: 2;
            }
        }
        #box-3 {
            order: 2;
            @include lg {
                order: 3;
            }
        }


        .img-container {
            align-self: center;
            img {
                max-width: 100%;
            }
        }
        .sale {
            max-height: 100%;
            max-width:max-content;
            background-color: $color-light-2;
            outline: 10px solid $color-theme;
            outline-offset: -25px;
            .content {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                .title{
                    margin-top: 60px;
                }
                .default-text{  

                    margin: 50px;

                }
                .btn-theme-2 {
                    margin-bottom: 30px;
                    @include md {
                        margin-bottom: 0;
                    }
                    @include lg {
                        margin-bottom: 30px;
                    }
                }
            }
        }
    }
}